:root {    /* variables */
    /* colors */

    --color-main: rgb(135, 15, 255);
    --color-main-light: rgb(200, 150, 255);
    --color-dark: rgb(15, 15, 15);
    --color-dark-translucent: rgba(25, 25, 25, 0.75);
    --color-light: rgb(245, 240, 235); 
    --white-25:  rgba(255, 255, 255, 0.25);
    --white-50:  rgba(255, 255, 255, 0.5);
    --white-75:  rgba(255, 255, 255, 0.75);

    /* fonts big */
    --big1: 32px;
    --big2: 42px;
    --big3: 52px;
}

.particles {
    width: 100%;
    height: 100vh;
    position: absolute;
}

header {
    width: 100%;
    height: 120px;
    border-bottom: 1px solid var(--color-dark-translucent);
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 25px;
    padding: 5px 20px;
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
}

header .header-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

header .header-title .logo {
    width: 75px;
    height: 75px;
    border-radius: 10px;
    background-image: url(../assets/favicon.png);
}

header .texts {
    display: flex;
    flex-direction: column;
}

header .header-title .thick {
    font-weight: 700;
    font-size: var(--big2);
}

header .header-title .thin {
    font-weight: 200;
    font-size: 22px;
    letter-spacing: 12px;
    color: var(--white-75);
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

header nav a {
    color: var(--white-50);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;    
    transition: 0.25s ease;
}

header nav a:hover {
    color: white;
    transform: scale(1.1) translateY(-2px);
    text-shadow: 0 0 15px white;
}

header nav:hover > :not(:hover) {
    color: var(--white-25);
}

.mobile-nav-button {
    display: none;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
    transition: ease 0.25s;
}

.mobile-nav-button:hover {
    color: white;
    text-shadow: 0px 0px 25px rgba(255, 255, 255, 0.5)
}

.mobile-menu {
    width: 100%;
    height: 110vh;
    background-color: rgba(15, 15, 15, 0.5);
    position: fixed;
    overflow: auto;
    z-index: 8;
    transition: ease-in-out 0.75s;
    transform: translateY(-150%);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
}

.mobile-nav {
    width: 100%;
    height: 100vh;
    padding: 150px 25px 50px 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.mobile-nav a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    transition: ease 0.25s;
    font-size: 18px;
}

.mobile-nav a:hover {
    color: white;
    text-shadow: 0px 0px 25px rgba(255, 255, 255, 0.5);
    text-decoration: none;
}

.banner {
    width: 100%;
    height: calc(100vh - 120px);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(0.1px);
    -webkit-backdrop-filter: blur(0.1px);
    gap: 15px;
}

.banner .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.banner .content h1 {
    font-size: var(--big3);
    text-align: center;
}

.banner .content p {
    text-align: center;
}


footer {
    width: 100%;
    height: 200px;
    border-top: 1px solid var(--color-dark-translucent);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    padding: 5px 20px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

footer .info-row {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .copyright-row {
    color: var(--white-50);
}

footer .column {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .footer-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

footer .footer-title .logo {
    width: 75px;
    height: 75px;
    border-radius: 10px;
    background-image: url(../assets/favicon.png);
}

footer .texts {
    display: flex;
    flex-direction: column;
}

footer .footer-title .thick {
    font-weight: 700;
    font-size: var(--big2);
}

footer .footer-title .thin {
    font-weight: 200;
    font-size: 22px;
    letter-spacing: 12px;
    color: var(--white-75);
}

footer .nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

footer .nav a {
    color: var(--white-50);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;    
    transition: 0.25s ease;
}

footer .nav a:hover {
    color: white;
    transform: scale(1.05);
    text-shadow: 0 0 15px var(--white-50);
}

footer .socials {
    display: flex;
    gap: 15px;
}

footer .socials .element {
    width: 40px;
    height: 40px;
    filter: grayscale(1) brightness(10);
    transition: 0.25s ease;
}

footer .socials .element:hover {
    filter: grayscale(0) brightness(1);

}

#instagram {
    background-image: url(../assets/instagram.png);
}

#discord {
    background-image: url(../assets/discord.png);
}

#github {
    background-image: url(../assets/github.png);
}

.footer-particles {
    width: 100%;
    height: 200px;
    position: absolute;
}

@media (max-width: 1200px) {
    .thick, .thin {
        display: none;
        visibility: hidden;
    }
}

@media (max-width: 1024px) {
    header {
        justify-content: space-between;
    }

    header nav {
        display: none;
        visibility: hidden;
    }

    .mobile-nav-button {
        display: block;
        visibility: visible;
    }


}

@media (max-width: 767px) {
    

    
}