:root {    /* variables */
    /* colors */

    --color-main: rgb(135, 15, 255);
    --color-main-light: rgb(200, 150, 255);
    --color-dark: rgb(15, 15, 15);
    --color-dark-translucent: rgba(25, 25, 25, 0.75);
    --color-light: rgb(245, 240, 235); 
    --white-15:  rgba(255, 255, 255, 0.15);
    --white-25:  rgba(255, 255, 255, 0.25);
    --white-50:  rgba(255, 255, 255, 0.5);
    --white-75:  rgba(255, 255, 255, 0.75);

    /* fonts big */
    --big1: 32px;
    --big2: 42px;
    --big3: 52px;
}

.particles {
    width: 100%;
    height: 100vh;
    position: absolute;
}

header {
    width: 100%;
    height: 120px;
    border-bottom: 1px solid var(--color-dark-translucent);
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 25px;
    padding: 5px 20px;
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
}

header .header-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

header .header-title .logo {
    width: 75px;
    height: 75px;
    border-radius: 10px;
    background-image: url(../assets/favicon.png);
}

header .texts {
    display: flex;
    flex-direction: column;
}

header .header-title .thick {
    font-weight: 700;
    font-size: var(--big2);
}

header .header-title .thin {
    font-weight: 200;
    font-size: 22px;
    letter-spacing: 12px;
    color: var(--white-75);
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

header nav a {
    color: var(--white-50);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;    
    transition: 0.25s ease;
}

header nav a:hover {
    color: white;
    transform: scale(1.1) translateY(-2px);
    text-shadow: 0 0 15px white;
}

header nav:hover > :not(:hover) {
    color: var(--white-25);
}

.mobile-nav-button {
    display: none;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
    transition: ease 0.25s;
}

.mobile-nav-button:hover {
    color: white;
    text-shadow: 0px 0px 25px rgba(255, 255, 255, 0.5)
}

.mobile-menu {
    width: 100%;
    height: 110vh;
    background-color: rgba(15, 15, 15, 0.5);
    position: fixed;
    overflow: auto;
    z-index: 8;
    transition: ease-in-out 0.75s;
    transform: translateY(-150%);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
}

.mobile-nav {
    width: 100%;
    height: 100vh;
    padding: 150px 25px 50px 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.mobile-nav a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    transition: ease 0.25s;
    font-size: 18px;
}

.mobile-nav a:hover {
    color: white;
    text-shadow: 0px 0px 25px rgba(255, 255, 255, 0.5);
    text-decoration: none;
}

.banner {
    width: 100%;
    height: calc(100vh - 120px);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(0.1px);
    -webkit-backdrop-filter: blur(0.1px);
    gap: 15px;
}

.banner .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.banner .content h1 {
    font-size: var(--big3);
    text-align: center;
}

.banner .content p {
    text-align: center;
}

.portfolio .content .element {
    min-width: 200px;
    min-height: 200px;
    background-color: rgb(228, 228, 228);
    border: 1px solid rgb(190, 190, 190);
    border-radius: 15px;
    flex-grow: 1;
    transition: 0.25s ease;
}

.portfolio .content .element:hover {
    transform: scale(1.05);
    background-color: #eeeeee;
}

.el02, .el08, .el09 {
    max-width: 400px;
    width: 100%;
    /* height: 400px; */
}

.contact .content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact .content .contact-heading {
    text-align: center;
    font-size: var(--big2);
}

.contact .content .contact-subheading {
    margin-bottom: 25px;
}

.contact .content .methods {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}

.contact .content .methods .container {
    max-width: 400px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 25px;
    border-radius: 15px;
    border: 1px solid var(--white-15);
    gap: 25px;
    color: white;
    text-decoration: none;
    transition: 0.25s ease;
}

.contact .content .methods .container:hover {
    transform: scale(1.05);
}

.contact .content .methods:hover > :not(:hover) {
    opacity: 0.5;
    transform: scale(0.95);
}

.contact .content .methods .container :is(.contact-thumbnail, .contact-container-heading) {
    filter: grayscale(1) brightness(10);
    transition: 0.25s ease;
}

.contact .content .methods .container:hover :is(.contact-thumbnail, .contact-container-heading) {
    filter: grayscale(0) brightness(1);
}

.contact .content .methods .container:hover .contact-container-subheading {
    color: white;
}

.contact-thumbnail {
    width: 80px;
    height: 80px;
}

.contact-container-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.contact-container-heading {
    font-size: var(--big2);
}

.contact-container-subheading {
    color: var(--white-50);
}

.contact-email .contact-thumbnail {
    background-image: url(../assets/mail.png);
}

.contact-email .contact-container-content .contact-container-heading {
    width: max-content;
    background: rgb(66,133,244);
    background: linear-gradient(212deg, rgba(66,133,244,1) 0%, rgba(66,133,244,1) 20%, rgba(197,34,31,1) 21%, rgba(197,34,31,1) 29%, rgba(234,67,53,1) 30%, rgba(234,67,53,1) 64%, rgba(251,188,4,1) 65%, rgba(251,188,4,1) 81%, rgba(52,168,83,1) 82%, rgba(52,168,83,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact-instagram .contact-thumbnail {
    background-image: url(../assets/instagram.png);
}

.contact-instagram .contact-container-content .contact-container-heading {
    width: max-content;
    background: rgb(255,197,0);
    background: linear-gradient(212deg, rgba(255,197,0,1) 0%, rgba(254,59,20,1) 33%, rgba(252,3,179,1) 66%, rgba(121,12,255,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (max-width: 767px) {
    .contact .content .methods .container {
        flex-direction: column;
    }

    .contact-container-content {
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

.sliders {
    padding: 20px 5px;
}

.sliders .content {
    width: 100%;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow: hidden;
}

@keyframes move {
    0%  {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-200%);
    }
}

.moving-object {
    min-width: 450px;
    max-width: 450px;
    width: 450px;
    height: 300px;
    background-color: rgb(228, 228, 228);
    border: 1px solid rgb(190, 190, 190);
    border-radius: 15px;
    margin: 5px;
    animation: move 10s linear infinite;
    /* animation-timeline: scroll(); */
}

/* .obj01 {
    background-color: rgb(128, 0, 255);
}

.obj02 {
    background-color: rgb(30, 255, 0);
}

.obj03 {
    background-color: rgb(255, 217, 0);
}

.obj04 {
    background-color: rgb(255, 136, 0);
}

.obj05 {
    background-color: rgb(255, 0, 132);
}

.obj06 {
    background-color: rgb(0, 8, 255);
}

.obj07 {
    background-color: rgb(0, 255, 255);
}

.obj08 {
    background-color: rgb(0, 255, 136);
}

.obj09 {
    background-color: rgb(89, 255, 0);
}

.obj10 {
    background-color: rgb(255, 255, 0);
}

.obj11 {
    background-color: rgb(255, 128, 0);
}

.obj12 {
    background-color: rgb(255, 0, 0);
} */

footer {
    width: 100%;
    min-height: 200px;
    height: 100%;
    border-top: 1px solid var(--color-dark-translucent);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    padding: 5px 20px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

footer .info-row {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
}

footer .copyright-row {
    color: var(--white-50);
}

footer .column {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

footer .footer-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

footer .footer-title .logo {
    width: 75px;
    height: 75px;
    border-radius: 10px;
    background-image: url(../assets/favicon.png);
}

footer .texts {
    display: flex;
    flex-direction: column;
}

footer .footer-title .thick {
    font-weight: 700;
    font-size: var(--big2);
}

footer .footer-title .thin {
    font-weight: 200;
    font-size: 22px;
    letter-spacing: 12px;
    color: var(--white-75);
}

footer .nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

footer .nav a {
    color: var(--white-50);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;    
    transition: 0.25s ease;
}

footer .nav a:hover {
    color: white;
    transform: scale(1.05);
    text-shadow: 0 0 15px var(--white-50);
}

footer .socials {
    display: flex;
    gap: 15px;
}

footer .socials .element {
    width: 40px;
    height: 40px;
    filter: grayscale(1) brightness(10);
    transition: 0.25s ease;
}

footer .socials .element:hover {
    filter: grayscale(0) brightness(1);

}

#linkedin {
    background-image: url(../assets/linkedin.png);
}

#instagram {
    background-image: url(../assets/instagram.png);
}

#discord {
    background-image: url(../assets/discord.png);
}

#github {
    background-image: url(../assets/github.png);
}

.footer-particles {
    width: 100%;
    height: 200px;
    position: absolute;
}

@media (max-width: 1200px) {
    header .header-title :is(.thick, .thin) {
        display: none;
        visibility: hidden;
    }
}

@media (max-width: 1024px) {
    header {
        justify-content: space-between;
    }

    header nav {
        display: none;
        visibility: hidden;
    }

    .mobile-nav-button {
        display: block;
        visibility: visible;
    }

    footer {
        padding: 25px 5px;
    }

    footer .info-row {
        flex-direction: column;
    }

    footer .column {
        width: 100%;
    }

    .footer-particles {
        height: 300px;
    }

}

